html,
body {
          margin: 0;
          padding: 0;
          scroll-behavior: smooth;
}

.link {
          text-transform: none;
          font-size: 17px;
          text-decoration: none;
          color: #00B27F;
}

.swiper-pagination-bullet-active {
          background: #00B27F !important;
}

.swiper-button-next {
          color: #00B27F !important;
          background: rgba(255, 255, 255, 0.5);
          height: 60px !important;
          width: 60px !important;
          border-radius: 50%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-button-prev {
          color: #00B27F !important;
          background: rgba(255, 255, 255, 0.5);
          height: 60px !important;
          width: 60px !important;
          border-radius: 50%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pg_ {
          height: 20px !important;
          width: 20px !important;
}